my_env/meas_App/meas/media/*
my_env/meas_App/meas/static/meas/bootstrap/*
my_env/meas_App/meas/static/meas/DataTables/*
my_env/meas_App/meas/static/meas/fonts/*
my_env/meas_App/meas/static/meas/img/*
my_env/meas_App/meas/static/meas/jQuery/*
