<div class="app-header">
    <div class="app-header-main">
        <div class="toolbar">
            <div class="searchbar">
                <div class="search-form">
                    <input type="search" class="search-control" placeholder="Ihre Suchanfrage">
                    <button class="ic-search">
                        <i id="ic-search"></i>
                    </button>
                </div>
            </div>
            <ul class="ul-tools">
                <li class="li-tools">
                    <div class="div-tools">
                        <span class="span-tools">
                            <span class="tool-ic">
                                <i class="i-ic" id="ic-home"></i>
                            </span>
                        </span>
                    </div>
                </li>
                <li class="li-tools">
                    <div class="div-tools">
                        <span class="span-tools">
                            <span class="tool-ic">
                                <i class="i-ic" id="ic-inbox"></i>
                                <span class="tool-alert"></span>
                            </span>
                        </span>
                    </div>
                </li>
                <li class="li-tools">
                    <div class="div-tools">
                        <span class="span-tools">
                            <span class="tool-ic">
                                <i class="i-ic" id="ic-logout"></i>
                            </span>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>