<div class="slidebar scroll">
    <div class="slider-navbar scroll">
        <div class="slider-header">
            {% load static %}
            <img src="{% static 'meas/img/logo.png' %}" alt="Logo">
        </div>
        <div class="slider-item-container scroll">
            <div class="slider-items scroll">
                <ul class="slider-menu">
                    <li class="menu-header menu">
                        <span>Hauptmenü</span>
                    </li>
                    <li class="menu-item menu">
                        <a href="javascript:void(0)" class="menu-link menu-sub">
                            <i class="li-ic" id="li-ic-order"></i>
                            <span>Auftragsanlage</span>
                        </a>
                        <ul class="sub-menu">
                            <li class="sub-menu-li">
                                <a href="javascript:void(0)" class="sub-menu-link" id="id_menu_ordersummary">
                                    <span class="sub-menu-text">Auftragsübersicht</span>
                                </a>
                            </li>
                            <li class="sub-menu-li">
                                <a href="javascript:void(0)" class="sub-menu-link" id="id_menu_neworder">
                                    <span class="sub-menu-text">Neuer Auftrag</span>
                                </a>
                            </li>
                            <li class="sub-menu-li">
                                <a href="javascript:void(0)" class="sub-menu-link">
                                    <span class="sub-menu-text">Nicht zugeordnete Aufträge <span class="badge"
                                            id="nao">12</span></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item menu">
                        <a href="javascript:void(0)" class="menu-link" id="id_menu_scheduler">
                            <i class="li-ic" id="li-ic-appt"></i>
                            <span>Terminplaner</span>
                        </a>
                    </li>
                    <li class="menu-item menu">
                        <a href="javascript:void(0)" class="menu-link">
                            <i class="li-ic" id="li-ic-meas"></i>
                            <span>Aufmaße</span>
                        </a>
                    </li>
                    <li class="menu-header menu">
                        <span>Stammdaten</span>
                    </li>
                    <li class="menu-item menu">
                        <a href="javascript:void(0)" class="menu-link menu-sub">
                            <i class="li-ic" id="li-ic-cust"></i>
                            <span>Kunden</span>
                        </a>
                        <ul class="sub-menu">
                            <li class="sub-menu-li">
                                <a href="javascript:void(0)" class="sub-menu-link" id="id_menu_customer">
                                    <span class="sub-menu-text">Übersicht</span>
                                </a>
                            </li>
                            <li class="sub-menu-li">
                                <a href="javascript:void(0)" class="sub-menu-link" id="id_menu_newcustomer">
                                    <span class="sub-menu-text">Neuanlage</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item menu">
                        <a href="javascript:void(0)" class="menu-link">
                            <i class="li-ic" id="li-ic-cp"></i>
                            <span>Bauvorhaben</span>
                        </a>
                    </li>
                    <li class="menu-item menu">
                        <a href="javascript:void(0)" class="menu-link" id="id_menu_product">
                            <i class="li-ic" id="li-ic-products"></i>
                            <span>Materialtkatalog</span>
                        </a>
                    </li>
                    <li class="menu-item menu">
                        <a href="javascript:void(0)" class="menu-link menu-sub">
                            <i class="li-ic" id="li-ic-empl"></i>
                            <span>Mitarbeiter</span>
                        </a>
                        <ul class="sub-menu">
                            <li class="sub-menu-li">
                                <a href="javascript:void(0)" class="sub-menu-link" id="id_menu_employee">
                                    <span class="sub-menu-text">Übersicht</span>
                                </a>
                            </li>
                            <li class="sub-menu-li">
                                <a href="javascript:void(0)" class="sub-menu-link" id="id_menu_newemployee">
                                    <span class="sub-menu-text">Neuanlage</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-header menu">
                        <span>Einstellungen</span>
                    </li>
                    <li class="menu-item menu">
                        <a href="javascript:void(0)" class="menu-link">
                            <i class="li-ic" id="li-ic-profil"></i>
                            <span>Profil</span>
                        </a>
                    </li>
                    <li class="menu-item menu">
                        <a href="javascript:void(0)" class="menu-link menu-sub">
                            <i class="li-ic" id="li-ic-user"></i>
                            <span>Benutzerverwaltung</span>
                        </a>
                    </li>
                    <li class="menu-item menu">
                        <a href="javascript:void(0)" class="menu-link">
                            <i class="li-ic" id="li-ic-holiday"></i>
                            <span>Feiertage</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>