<!DOCTYPE html>
<html lang="de">

<head>
    {% include "includes/head.html" %}
</head>

<body>

<div class="app-main scroll">
    <div class="app-container scroll">
        {% include "includes/navi.html" %}
        <div class="app-main-container">
            {% include "includes/header_nav.html" %}
            <main>
                <div class="app-data-wrapper">
                    <div class="return-btn-div">
                        <span class="return-btn-span" data-toggle="tooltip" data-placement="left" title="Zurück">
                            <ic id="return-btn-i">
                    
                            </ic>
                        </span>
                    </div>
                    <div class="data-wrapper">
                        <section class="data fade-in-bottom">
                            <div class='section-data-header-wrapper'>
                                <h2 class='section-data-header'><span>Kundenverwaltung</span></h2>
                            </div>
                            <div class='container'>
                                <div class="row">
                                    <table class="data-tbl hover stripe row-border" id="customer_tbl">
                                        <thead>
                                            <tr>
                                                <th>Customer_id</th>
                                                <th>Customer_acn</th>
                                                <th>Customer_last</th>
                                                <th>Customer_first</th>
                                                <th>Customer_company</th>
                                                <th>Customer_street</th>
                                                <th>Customer_zip</th>
                                                <th>Customer_city</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="row margin-top">
                                    <div class="col col-right">
                                        <button type="submit" class="btn btn-primary" id="id_cust_edit" disabled>Details</button>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>

{% csrf_token %}
<!--JS Import-->
{% load static %}
    <script src="{% static 'meas/jQuery/jquery-3.4.1.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'meas/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'meas/js/mustache.js' %}"></script>
    <script type="text/javascript" src="{% static 'meas/js/swal.js' %}"></script>
    <script type="text/javascript" src="{% static 'meas/js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'meas/DataTables/dataTables.js' %}"></script>
    <script type="text/javascript" src="{% static 'meas/js/customer.js' %}"></script>
</body>

</html>