<!DOCTYPE html>
<html lang="de">

<head>
    <title>Measaro</title>
    <meta charset="utf-8">
    <!--Zur Aktivierung der Website den Meta-Tag Application Name wieder aktivieren-->
    <meta name="application-name" content="Measaro" />
    <!--Zur Aktivierung der Website den Meta-Tag Application Name wieder aktivieren-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'meas/bootstrap/css/bootstrap.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Ubuntu" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'meas/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'meas/css/animation.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'meas/css/spinner.css' %}">

    <!--
		<link rel="shortcut icon" type="image/png" href="src/img/favicon_32_32.png">
		<link rel="apple-touch-icon" href="src/img/favicon_57.png" sizes="57x57">
		<link rel="apple-touch-icon" href="src/img/favicon_72.png" sizes="72x72">
		<link rel="apple-touch-icon" href="src/img/favicon_76.png" sizes="76x76">
		<link rel="apple-touch-icon" href="src/img/favicon_114.png" sizes="114x114">
		<link rel="apple-touch-icon" href="src/img/favicon_120.png" sizes="120x120">
		<link rel="apple-touch-icon" href="src/img/favicon_144.png" sizes="144x144">
		<link rel="apple-touch-icon" href="src/img/favicon_152.png" sizes="152x152">
    -->

    <!-- Start Cookie Plugin -->
    <script type="text/javascript">
        window.CookieHinweis_options = {
            message: 'Wir nutzen Cookies, um Ihnen das Surfen auf unserer Website zu erleichtern. Für mehr Infos lesen Sie unsere Datenschutzerklärung ',
            agree: 'Ok, verstanden',
            learnMore: 'Mehr Infos',
            link: '/datenschutz',
            theme: 'dunkel-unten'
        };
    </script>
    <script type="text/javascript" src="https://s3.eu-central-1.amazonaws.com/website-tutor/cookiehinweis/script.js
		"></script>
    <!-- Ende Cookie Plugin -->

</head>

<body>

    <div class="app-main scroll">
        <div class="app-container scroll">
            {% include "navi.html" %}
            <div class="app-main-container">
                <div class="app-header">
                    <div class="app-header-main">
                        <div class="toolbar">
                            <div class="searchbar">
                                <div class="search-form">
                                    <input type="search" class="search-control" placeholder="Ihre Suchanfrage">
                                    <button class="ic-search">
                                        <i id="ic-search"></i>
                                    </button>
                                </div>
                            </div>
                            <ul class="ul-tools">
                                <li class="li-tools">
                                    <div class="div-tools">
                                        <span class="span-tools">
                                            <span class="tool-ic">
                                                <i class="i-ic" id="ic-home"></i>
                                            </span>
                                        </span>
                                    </div>
                                </li>
                                <li class="li-tools">
                                    <div class="div-tools">
                                        <span class="span-tools">
                                            <span class="tool-ic">
                                                <i class="i-ic" id="ic-inbox"></i>
                                                <span class="tool-alert"></span>
                                            </span>
                                        </span>
                                    </div>
                                </li>
                                <li class="li-tools">
                                    <div class="div-tools">
                                        <span class="span-tools">
                                            <span class="tool-ic">
                                                <i class="i-ic" id="ic-logout"></i>
                                            </span>
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <main>
                    <div class="app-data-wrapper">
                        <div class="return-btn-div">
                            <span class="return-btn-span" data-toggle="tooltip" data-placement="left" title="Zurück">
                                <ic id="return-btn-i"></ic>
                            </span>
                        </div>
                        <div class="data-wrapper">
                            <section class="data fade-in-bottom">
                                <form action="javascript:void(0)" id="empleditform" method="">
                                    <input type="hidden" id="csrf_token" value='{{ csrf_token }}'>
                                    <!--{% for field in form %}
                                        <label class="col-sm-2 col-form-label show" for="{{ field.name }}">{{ field.label }}</label>
                                        {{ field }}
                                    {% endfor %}-->
                                    <div class="form-row form-group">
                                        {{ form.Employees_acn.label }}
                                        {{ form.Employees_acn}}
                                        <small id="AccountnumberHelpBlock" class="form-text text-muted hide">
                                            Die Mitarbeiternummer kann bis zu 10 Zeichen lang sein. Achtung! Diese kann nach der Anlage nicht mehr verändert werden.
                                        </small>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            {{ form.Employees_first.label}}
                                            {{ form.Employees_first}}
                                        </div>
                                        <div class="form-group col-md-6">
                                            {{ form.Employees_last.label}}
                                            {{ form.Employees_last}}
                                        </div>
                                    </div>
                                    <div class="form-row form-group">
                                        {{ form.Employees_birthday.label}}
                                        {{ form.Employees_birthday}}
                                    </div>
                                    <div class="form-row form-group">
                                        {{ form.Employees_phone.label}}
                                        {{ form.Employees_phone}}
                                        <small id="phoneHelpBlock" class="form-text text-muted">
                                            Telefonnummern bitte im Format +49 1520 123456 eingeben.
                                        </small>
                                    </div>
                                    <div class="form-row form-group">
                                        {{ form.Employees_mail.label}}
                                        {{ form.Employees_mail}}
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            {{ form.Employees_vf.label}}
                                            {{ form.Employees_vf}}
                                        </div>
                                        <div class="form-group col-md-6">
                                            {{ form.Employees_vu.label}}
                                            {{ form.Employees_vu}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <button type="button" class="btn btn-danger" id="id_button_empledit_delete">Löschen</button>
                                        </div>
                                        <div class="col col-center">
                                            <button type="button" class="btn btn-secondary btn-employeeedit" id="id_button_empledit_cancel" disabled>Abbrechen</button>
                                        </div>
                                        <div class="col col-right">
                                            <button type="submit" class="btn btn-primary btn-employeeedit" id="id_empledit_save" disabled>Speichern</button>
                                        </div>
                                    </div>
                                </form>
                            </section>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>


    <!--JS Import-->
    <script src="{% static 'meas/jQuery/jquery-3.4.1.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'meas/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'meas/js/js.cookie.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'meas/js/swal.js' %}"></script>
    <script type="text/javascript" src="{% static 'meas/js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'meas/js/employeeedit.js' %}"></script>
</body>

</html>