<!DOCTYPE html>
<html lang="de">

<head>
    {% include "includes/head.html" %}
</head>

<body>

    <div class="app-main scroll">
        <div class="app-container scroll">
            {% include "includes/navi.html" %}
            <div class="app-main-container">
                {% include "includes/header_nav.html" %}
                <main>
                    <div class="app-data-wrapper">
                        <div class="return-btn-div">
                            <span class="return-btn-span" data-toggle="tooltip" data-placement="left" title="Zurück">
                                <ic id="return-btn-i"></ic>
                            </span>
                        </div>
                        <div class="data-wrapper">
                            <section class="data fade-in-bottom">
                                <form action="javascript:void(0)" id="empleditform" method="">
                                    <input type="hidden" id="csrf_token" value='{{ csrf_token }}'>
                                    <!--{% for field in form %}
                                        <label class="col-sm-2 col-form-label show" for="{{ field.name }}">{{ field.label }}</label>
                                        {{ field }}
                                    {% endfor %}-->
                                    <div class="form-row form-group">
                                        {{ form.Employees_acn.label }}
                                        {{ form.Employees_acn}}
                                        <small id="AccountnumberHelpBlock" class="form-text text-muted hide">
                                            Die Mitarbeiternummer kann bis zu 10 Zeichen lang sein. Achtung! Diese kann nach der Anlage nicht mehr verändert werden.
                                        </small>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            {{ form.Employees_first.label}}
                                            {{ form.Employees_first}}
                                        </div>
                                        <div class="form-group col-md-6">
                                            {{ form.Employees_last.label}}
                                            {{ form.Employees_last}}
                                        </div>
                                    </div>
                                    <div class="form-row form-group">
                                        {{ form.Employees_birthday.label}}
                                        {{ form.Employees_birthday}}
                                    </div>
                                    <div class="form-row form-group">
                                        {{ form.Employees_phone.label}}
                                        {{ form.Employees_phone}}
                                        <small id="phoneHelpBlock" class="form-text text-muted">
                                            Telefonnummern bitte im Format +49 1520 123456 eingeben.
                                        </small>
                                    </div>
                                    <div class="form-row form-group">
                                        {{ form.Employees_mail.label}}
                                        {{ form.Employees_mail}}
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            {{ form.Employees_vf.label}}
                                            {{ form.Employees_vf}}
                                        </div>
                                        <div class="form-group col-md-6">
                                            {{ form.Employees_vu.label}}
                                            {{ form.Employees_vu}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <button type="button" class="btn btn-danger" id="id_button_empledit_delete">Löschen</button>
                                        </div>
                                        <div class="col col-center">
                                            <button type="button" class="btn btn-secondary btn-employeeedit" id="id_button_empledit_cancel" disabled>Abbrechen</button>
                                        </div>
                                        <div class="col col-right">
                                            <button type="submit" class="btn btn-primary btn-employeeedit" id="id_empledit_save" disabled>Speichern</button>
                                        </div>
                                    </div>
                                </form>
                            </section>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>


    <!--JS Import-->
    {% load static %}
    <script src="{% static 'meas/jQuery/jquery-3.4.1.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'meas/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'meas/js/js.cookie.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'meas/js/swal.js' %}"></script>
    <script type="text/javascript" src="{% static 'meas/js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'meas/js/employeeedit.js' %}"></script>
</body>

</html>