<!DOCTYPE html>
<html lang="de">

<head>
    {% include "includes/head.html" %}
</head>

<body>

<div class="app-main scroll">
    <div class="app-container scroll">
        {% include "includes/navi.html" %}
        <div class="app-main-container">
            {% include "includes/header_nav.html" %}
            <main>
                <div class="app-data-wrapper">
                    <div class="return-btn-div">
                        <span class="return-btn-span" data-toggle="tooltip" data-placement="left" title="Zurück">
                            <ic id="return-btn-i">
                    
                            </ic>
                        </span>
                    </div>
                    <div class="data-wrapper">
                        <section class="data fade-in-bottom">
                            <div class='section-data-header-wrapper'>
                                <h2 class='section-data-header'><span>Mitarbeiterverwaltung</span></h2>
                            </div>
                            <div class='container'>
                                <div class="row">
                                    {% for i in context %}
                                    <div class='col-sm' data-emplid="{{i.Employees_id}}">
                                        <div class="card card-type-1">
                                            <div class="card-header">
                                                <div class="card-header-info">
                                                    <h6 class="text-align-left" data-emplid="{{i.Employees_id}}">{{i.Employees_first}} {{i.Employees_last}}</h6>
                                                    <span class="text-align-left span-second-header" data-emplid="{{i.Employees_id}}">MANr:
                                                        {{i.Employees_acn}}</span>
                                                </div>
                                                <div class="tool-detail">
                                                    <span class="span-detail">
                                                        <i class="i-ic ic-click-detail-menu" id="ic-detail" data-emplid="{{i.Employees_id}}"></i>
                                                        <div class="tool-detail-menu no-show" data-emplid="{{i.Employees_id}}">
                                                            <div class="tool-detail-cmds">
                                                                <div class="tool-edit-div">
                                                                    <span class="tool-span tool-edit-cmd" data-emplid="{{i.Employees_id}}">Ändern</span>
                                                                </div>
                                                                <div class="tool-delete-div">
                                                                    <span class="tool-span tool-delete-cmd" data-emplid="{{i.Employees_id}}">Löschen</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="card-data">
                                                <table class="table-card table-striped table-hover table-sm table-responsive text-align-left">
                                                    <tbody>
                                                        <tr>
                                                            <td class="table-label">
                                                                <span>Geburtsdatum</span>
                                                            </td>
                                                            <td class="table-wide">
                                                                <span class="table-bd" data-emplid="{{i.Employees_id}}">{{i.Employees_birthday}}</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="table-label">
                                                                <span>Telefonnummer</span>
                                                            </td>
                                                            <td class="table-wide">
                                                                <span class="table-phone" data-emplid="{{i.Employees_id}}">{{i.Employees_phone}}</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="table-label">
                                                                <span>Email</span>
                                                            </td>
                                                            <td class="table-wide">
                                                                <span class="table-email" data-emplid="{{i.Employees_id}}">{{i.Employees_mail}}</span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="overlay" data-emplid="{{i.Employees_id}}"></div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>

{% csrf_token %}
<!--JS Import-->
{% load static %}
    <script src="{% static 'meas/jQuery/jquery-3.4.1.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'meas/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'meas/js/mustache.js' %}"></script>
    <script type="text/javascript" src="{% static 'meas/js/swal.js' %}"></script>
    <script type="text/javascript" src="{% static 'meas/js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'meas/js/employees.js' %}"></script>
</body>

</html>