
<!DOCTYPE html>
<html lang="de">

<head>
    {% include "includes/head.html" %}
</head>

<body>

<div class="app-main scroll">
    <div class="app-container scroll">
        {% include "includes/navi.html" %}
        <div class="app-main-container">
            {% include "includes/header_nav.html" %}
            <main>
                <div class="app-data-wrapper">
                    <div class="return-btn-div">
                        <span class="return-btn-span" data-toggle="tooltip" data-placement="left" title="Zurück">
                            <ic id="return-btn-i">
                    
                            </ic>
                        </span>
                    </div>
                    <div class="data-wrapper">
                        <section class="data fade-in-bottom">
                            <div class='section-data-header-wrapper'>
                                <h2 class='section-data-header'><span>Materialkatalog</span></h2>
                            </div>
                            <div class='container'>
                                <div class="row">
                                    <table class="data-tbl hover stripe row-border" id="products_tbl">
                                        <thead>
                                            <tr>
                                                <th>Product_id</th>
                                                <th>Product_number</th>
                                                <th>Product_name</th>
                                                <th>Product_supplier</th>
                                                <th>Product_unit</th>
                                                <th>Product_sppu_net</th>
                                                <th>Product_vf</th>
                                                <th>Product_vu</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="row margin-top">
                                    <div class="col col-right">
                                        <button type="submit" class="btn btn-primary" id="id_cust_edit" disabled>Details</button>
                                    </div>
                                </div>
                            </div>
                            <div class="csv_upload_container margin-top">
                                <h5 class="csv_upload_header">CSV Import</h5>
                                <p>Hier haben Sie die Möglichkeit eine CSV Datei einzuspielen. Bitte achten Sie auf das richtige Format.<br>
                                Es können nur CSV-Datein importiert werden, bei denen ein <span class="bold">Semikolon</span> als Trennzeichen verwendet wird. Die CSV Datei sollte <span class="bold">UTF-8 codiert</span> sein, damit die Umlaute richtig dargestellt werden können. <br>
                                Laden Sie hier die Musterdatei herunter und füllen Sie diese. Das Ändern, Löschen und Hinzufügen von Spalten ist nicht möglich und wird dazu führen, dass der Import fehlschägt.<br>
                                <span class="bold">Bitte achten Sie darauf, dass zu einem Zeitpunkt nur ein gültiger Datensatz zu einem Produkt existiert.</span></p>
                                <div class="row row-margin-null">
                                    <div class="col col-csv_upload">
                                        <button type="submit" class="btn btn-primary btn-upload-sample" id="id_cust_edit" >Download Muster</button>
                                    </div>
                                    <div class="col col-left col-csv_upload">
                                        <form action="" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            {{ form }}
                                            <button type="submit" class="btn btn-primary btn-upload-submit" id="id_cust_edit">Upload CSV</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>

<!--JS Import-->
{% load static %}
    <script src="{% static 'meas/jQuery/jquery-3.4.1.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'meas/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'meas/js/mustache.js' %}"></script>
    <script type="text/javascript" src="{% static 'meas/js/swal.js' %}"></script>
    <script type="text/javascript" src="{% static 'meas/js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'meas/DataTables/dataTables.js' %}"></script>
    <script type="text/javascript" src="{% static 'meas/js/products.js' %}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
                let searchParams = new URLSearchParams(window.location.search);
                success = searchParams.get('success');
                if (success == "true") {
                    var file = searchParams.get('file')
                    Toast.fire({
                        icon: 'success',
                        title: 'Upload erfolgreich',
                        html: '<a href="/media/uploads/products/' + file + '">Hier Fehlerbericht abrufen</a>',
                        timer: 6000
                    })
                };
            });
    </script>
</body>

</html>