<!DOCTYPE html>
<html lang="de">

<head>
    {% include "includes/head.html" %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'meas/timetable.js/dist/styles/timetablejs.css' %}">
</head>

<body>

    <div class="app-main scroll">
        <div class="app-container scroll">
            {% include "includes/navi.html" %}
            <div class="app-main-container">
                {% include "includes/header_nav.html" %}
                <main>
                    <div class="app-data-wrapper">
                        <div class="data-wrapper">
                            <section class="data fade-in-bottom">
                                <div class="timetable"></div>
                            </section>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>


    <!--JS Import-->
    {% load static %}
    <script src="{% static 'meas/jQuery/jquery-3.4.1.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'meas/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'meas/js/swal.js' %}"></script>
    <script type="text/javascript" src="{% static 'meas/js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'meas/timetable.js/dist/scripts/timetable.js' %}"></script>
</body>

</html>